@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-green: #3A4E4A;
  --color-brand-cream: #ECEAE3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-brand-green);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
